<!--
Arquivo gerado automaticamente pelo build.
Caso deseje bloquear o parser nesse arquivo, basta adicionar o caracter #(cerquilha) antes da palavra a seguir
#FileLocked
-->
{% extends "core/index_list.html" %}
{% load base %}
{% block title %}
    Listagem Aluno
{% endblock title %}
{% block title_modulo %}
    <h4 class="font-weight-bold m-1">Aluno - {{ model_name }}</h4>
{% endblock title_modulo %}
<!-- Bloco para passagem da URL do formulário de cadastro -->
{% block uriadd %}
    {% url "aluno:aluno-create" %}
{% endblock uriadd %}
{% block list_app %}

    <list-vue
        app_name="aluno" 
        model_name="aluno"
        endpoint="/aluno/api/v1/listagem/aluno/"
        :fields="['nome', 'idade', 'matricula', 'curso', 'ativo']"
    ></list-vue>

{% endblock list_app %}
{% block size_itens %}
    Exibindo {{ aluno.count }} de {{ paginator.count }} itens encontrados.
{% endblock size_itens %}
